:root {
  --bg: #0f172a;
  --text: white;
  --card: rgba(255,255,255,0.05);
}

.light-theme {
  --bg: #fdf6e3;
  --text: #222;
  --card: #ffffff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  color: var(--text);
  margin-left: 20px;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.glow {
  font-size: 3rem;
  color: #00c6ff;
  text-shadow: 0 0 20px #007bff;
}

.subtitle {
  color: #94a3b8;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: linear-gradient(45deg, blue, red);
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

/* Fog Background */
body::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;

  background:
    radial-gradient(circle at 20% 30%, rgba(255,0,80,0.25), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0,150,255,0.25), transparent 40%);

  animation: fogMove 20s infinite linear;
  z-index: -1;
  filter: blur(60px);
}

@keyframes fogMove {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(-100px, 100px);
  }
  100% {
    transform: translate(100px, -100px);
  }
}
/* Background circlular glow */
.hero {
  background: radial-gradient(circle at center, rgba(0,0,50,0.6), transparent);
}

/* Cursor Glow */
.cursor-glow {
  position: fixed;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(0,200,255,0.6), transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999; /* MUST be high */
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  filter: blur(20px);
}

/* Sections */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: var(--card);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0,198,255,0.4);
}

/* Skills */
#skills li {
  background: var(--card);
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}
