/* Add CSS Variables */
:root {
  --bg: #0f172a;
  --text: white;
  --card: rgba(255,255,255,0.05);
}

.light-theme {
  --bg: #fdf6e3;
  --text: #222;
  --card: rgba(0,0,0,0.05);
}
/*body*/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px 40px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
nav a:hover {
  color: #00c6ff;
}
/* Ligh theme--CREAM STYLE*/
.light-theme {
  --bg: #fdf6e3;
  --text: #222;
  --card: #ffffff;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 20px;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*add glow effect*/
.glow {
  font-size: 3rem;
  color: #00c6ff;
  text-shadow: 0 0 10px #00c6ff, 0 0 20px #007bff;
}
.subtitle {
  color: #94a3b8;
  margin-top: 10px;
}
/* ANIMATED bground*/
body::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,0,0,0.2), transparent),
              radial-gradient(circle, rgba(0,0,255,0.2), transparent);
  animation: moveFog 10s infinite alternate;
  z-index: -1;
}
@keyframes moveFog {
  0% { transform: translate(0,0); }
  100% { transform: translate(-50px, -50px); }
}

/* cursor glow*/
body::after {
  content: "";
  position: fixed;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(0,200,255,0.3), transparent);
  pointer-events: none;
  transform: translate(-50%, -50%);
}
/* Sections */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

/*Add gradient section background8*/
#projects {
  background: rgba(255,255,255,0.02);
  border-radius: 20px;
  padding: 30px;
}
/*Add heading styling */
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Cards */
.card {
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
  background: var(--card);
}
/*card hover*/
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.3);
}
/* MODERN Button*/
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: linear-gradient(45deg, #007bff, #00c6ff);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}
/*buttpon hover*/
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00c6ff;
}

/* Skills cards*/
#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  background: rgba(255,255,255,0.05);
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 14px;
}
